<div class="card text-center col-md-8">
  <div class="card-header">
    Liste des produits
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Login client</th>
        <th>Login objet</th>
        <th>Catégorie</th>
        <th>Libellé de l'acte</th>
        <th>Date de l'acte</th>
        <th>Login l'acteur</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td>Login client</td>
        <td>Login objet</td>
        <td>Catégorie</td>
        <td>Libellé de l'acte</td>
        <td>Date de l'acte</td>
        <td>Login l'acteur</td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
